@import "src/app/variables";

.fields-wrapper {
  display: grid;
  grid-gap: $default-padding;
  grid-auto-rows: 1fr;
}

.actions {
  display: flex;
  justify-content: flex-end;
}

.message-field {
  width: 100%;
}

@media (min-width: 600px) {
  .fields-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
