@import "src/app/variables";

:host ::ng-deep {
  .post {
    max-width: 400px;
    height: 100%;
  }
}

.blog-posts {
  display: grid;
  grid-gap: $default-padding;
  grid-auto-rows: 1fr;
}

@media (min-width: 600px) {
  .blog-posts {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .blog-posts {
    grid-template-columns: repeat(3, 1fr);
  }
}
